.searchPan {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(62deg, #deb75e 0%, #da8e8e 100%);
}

.middlePan {
  background-color: var(--sidelayout-background);
  width: 60%;
  margin-top: 2rem;
  border-radius: 15px;
}

.dummytext {
  color: var(--dummytext-color);
}
.dummytext p {
  height: 49vh;
  overflow-y: auto;
}
