:root{
    --button-text : rgb(57, 20, 92);
    --button-background: rgb(0,255,238);
    --button-background-gradient: linear-gradient(95deg, rgba(0,255,238,1) 0%, rgba(125,237,16,1) 100%);
    --button-shadow:rgba(127,127,127,0.51);
}


.button{
    color: var(--button-text);
    background: var(--button-background);
    background: var(--button-background-gradient);
    border-radius: 12px;
    border-color: transparent;
    padding: 3px;
    -webkit-box-shadow: 5px 6px 13px 0px var(--button-shadow); 
    box-shadow: 5px 6px 13px 0px var(--button-shadow);
}