:root{
    --input-border-color:#524165
    ;
    --input-caret-color:#a79bb9
    ;
    --input-label-background-color:#fcdcd9;
}


.input{
 margin: 2rem 0 2rem 0;
}
.input input{
   width: 75%;
   text-align: end;
   border-color: var(--input-border-color);
   border-radius: 8px;
   padding-right: 3px;
   border-width: .2rem;
   height: 8vh;
   caret-color: var(--input-caret-color);
   margin-right: 1.3em;
}
.input a{
    text-decoration: none;
    color: var(--input-border-color);
    text-align: end;
    margin-top: 1em;
}
.input a:hover{
    cursor: pointer;
    color: var(--input-border-color);
}
.input span{
    
    text-align: end;
    font-size: 1rem;
    padding: 0 0.3em;
    background-color:var(--input-label-background-color);
    margin-right: 1.3em;
    margin-bottom: -.2rem;
    padding: 0px .4rem;
    z-index: 2;
    color: var(--input-border-color);
  }


